-# frozen_string_literal: true
= simple_form_for(@cliente) do |f|
  .row
    .col-4
      = f.input :nombre
    .col-4
      = f.input :telefono
    .col-4
      = f.input :rfc
    .col-12
      %h4 registrar domicilio
      = render 'domicilios/domicilio_fields', f: f

    .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
      = f.submit class: 'btn btn-alt-primary'
