.block.block-themed
  .block-header.bg-primary-dark
    %h3.block-title
      %i.si.si-eye
      detalles de la tienda #{@tienda}
    .block-options
      .block-options-item
  .block-content
    %table.table.table-hover.table-sm.table-vcenter
      %tr
        %th nombre:
        %td= @tienda
        %th telefono:
        %td= @tienda.telefono
        %th RFC:
        %td= @tienda.rfc
      %tr
        %th fecha de creación:
        %td= l @tienda.created_at, format: :long
        %th fecha de edición:
        %td= l @tienda.updated_at, format: :long
        %th eslogan:
        %td= @tienda.eslogan
      %tr
        %th calle:
        %td= @tienda.calle
        %th número
        %td= "##{@tienda.numero}"
        %th colonia:
        %td= @tienda.colonia
      %tr
        %th código postal:
        %td= @tienda.codigo_postal
        %th estado:
        %td= @tienda.estado
        %th país:
        %td= @tienda.pais
      %tr
        %th logotipo:
        %td{ colspan: 5 }
          - if @tienda.logotipo?
            = image_tag(@tienda.logotipo.chico.url, class: "img-thumbnail")

  .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
    = link_to [:tiendas], class: 'btn btn-alt-secondary' do
      %i.si.si-arrow-left
      regresar
    = link_to [:edit, @tienda], class: 'btn btn-alt-warning pull-right' do
      %i.si.si-pencil
      editar
