%tr
  %td.text-left= vendido
  %td.text-left= vendido.nombre
  %td= vendido.cantidad
  %td.text-right= number_to_currency vendido.precio_venta
  %td.text-right= vendido.descuento
  %td.text-right= number_to_currency vendido.subtotal
  %td= vendido.tipo
