<h1>Inicio</h1>

<%= link_to "armazones", armazones_path %>
<br/>
<%= link_to "lentes", lentes_path %>
<br/>
<%= link_to "micas", micas_path %>
<br/>
<%= link_to "vendedores", vendedores_path %>
<br/>
<%= link_to "ventas", ventas_path %>
