%table.table.table-hover.table-sm.table-vcenter
  %tr
    %th código:
    %td= producto.codigo
    %th nombre:
    %td= producto.nombre
  %tr
    %th existencia:
    %td= producto.existencia
    %th estado:
    %td= estado_de_publicacion producto
  %tr
    %th precio de venta:
    %td= number_to_currency producto.precio_venta
    - if usuario_es?(:admin, :optica)
      %th precio de compra:
      %td= number_to_currency producto.precio_compra
    - else
      %th
      %td
  %tr
    %th tipo de producto:
    %td= producto.tipo
    %th marca:
    %td= producto.marca
  %tr
    %th registrado el:
    %td= l producto.created_at, format: :long
    %th actualizado el:
    %td= l producto.updated_at, format: :long
  %tr
    %th descripción:
    %td= producto.descripcion
    %th
    %td

  %tr
    - producto.imagenes.each do |imagen|
      %td= image_tag imagen.chica.url

