<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>nombre</th>
        <th>código</th>
        <th>existencias</th>
        <th>producto</th>
        <th>tipo</th>
      </tr>
    </thead>
    <tbody>
      <% productos.each do |producto| %>
        <tr>
          <td><%= producto.nombre %></td>
          <td><%= producto.codigo %></td>
          <td><%= producto.existencia %></td>
          <td><%= producto.type %></td>
          <td><%= producto.tipo %></td>
          <td>
            <%= link_to "detalles", producto %>
            <%= link_to "editar", [:edit, producto] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
