.table-responsive
  %table.table.table-striped.table-hover.table-sm.table-vcenter
    %thead
      %tr
        %th código
        %th marca
        %th precio
        %th existencias
        %th tipo
        %th estado
        %th.text-center{:style => "width: 100px;"} Acciones
    %tbody
      - productos.each do |producto|
        %tr
          %td= producto.codigo
          %td= producto.marca
          %td= number_to_currency producto.precio_venta
          %td= producto.existencia
          %td= producto.tipo
          %td= estado_de_publicacion producto
          %td
            .btn-group
              = link_to producto, class: 'btn btn-alt-info' do
                %i.si.si-eye
                detalles
              = link_to [:edit, producto], class: 'btn btn-alt-warning' do
                %i.si.si-pencil
                editar
    %tfoot
      %tr
        %td{ colspan: 7 }
          .row
            .col-6
              = paginate productos
            .col-6
              .pull-right
                = page_entries_info productos
