= simple_form_for usuario do |f|
  .row
    .col-4
      = f.input :nombre
    .col-4
      = f.input :telefono
    .col-4
      = f.input :email
    .col-4
      = f.input :password
    .col-4
      = f.input :password_confirmation
    .col-4.text-center
      = label_tag '¿Desactivar al vendedor?'
      = f.input :activo
    .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
      = link_to :back, class: 'btn btn-alt-secondary' do
        %i.fa.fa-arrow-left
        regresar
      = f.submit class: 'btn btn-alt-success pull-right'
