.table-responsive
  %table.table.table-striped.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th nombre
        %th email
        %th cargo
    %tbody
      - usuarios.each do |usuario|
        %tr
          %td= usuario.nombre
          %td= usuario.email
          %td= usuario.cargo
          %td
            = link_to "detalles", usuario
            = link_to "edit", [:edit, usuario]
