.block.block-themed
  .block-header.bg-primary-dark
    %h3.block-title
      %i.si.si-eye
      detalles de la mica #{@mica}
    .block-options
      .block-options-item
        registrado por #{@mica.usuario}
  .block-content
    = render 'productos/producto', producto: @mica

  .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
    = link_to [:micas], class: 'btn btn-alt-secondary' do
      %i.si.si-arrow-left
      regresar
    = link_to [:edit, @mica], class: 'btn btn-alt-warning pull-right' do
      %i.si.si-pencil
      editar
