%nav#sidebar
  #sidebar-scroll
    .sidebar-content
      .content-header.content-header-fullrow.px-15.bg-black-op-10
        .content-header-section.sidebar-mini-visible-b
          %span.content-header-item.font-w700.font-size-xl.float-left.animated.fadeIn
            %span.text-dual-primary-dark j
            %span.text-primary &amp;j
        / Normal Mode
        .content-header-section.text-center.align-parent.sidebar-mini-hidden
          %button.btn.btn-circle.btn-dual-secondary.d-lg-none.align-v-r{"data-action" => "sidebar_close", "data-toggle" => "layout", :type => "button"}
            %i.fa.fa-times.text-danger
          .content-header-item
            = link_to root_path, class: 'link-effect font-w700' do
              %span.font-size-xl.text-dual-primary-dark= empresa_actual
        / END Normal Mode
      / Side Navigation
      .content-side.content-side-full
        %ul.nav-main
          %li.nav-main-heading
            %span.sidebar-mini-visible MP
            %span.sidebar-mini-hidden menú principal
          %li
            = link_to [:new, :venta] do
              %i.fa.fa-shopping-cart
              %span.sidebar-mini-hide Punto de venta
          %li
            = link_to [:ventas] do
              %i.fa.fa-history
              %span.sidebar-mini-hide Historial de ventas
          %li.nav-main-heading
            %span.sidebar-mini-visible CS
            %span.sidebar-mini-hidden catálogos
          %li
            = link_to [:armazones] do
              %i.fa.fa-adjust
              %span.sidebar-mini-hide Armazones
          %li
            = link_to [:lentes] do
              %i.si.si-eyeglasses
              %span.sidebar-mini-hide Lentes
          %li
            = link_to [:micas] do
              %i.fa.fa-clone
              %span.sidebar-mini-hide Micas
          %li
            = link_to [:tratamientos] do
              %i.fa.fa-bookmark
              %span.sidebar-mini-hide Tratamientos
          %li
            = link_to [:clientes] do
              %i.fa.fa-users
              %span.sidebar-mini-hide Clientes
          %li
            = link_to [:administradores] do
              %i.fa.fa-users
              %span.sidebar-mini-hide Administradores
          %li
            = link_to [:vendedores] do
              %i.fa.fa-users
              %span.sidebar-mini-hide Vendedores
          %li
            = link_to [:empresas] do
              %i.fa.fa-building
              %span.sidebar-mini-hide Empresa
      .content-side
        %ul.nav-main
          %li
            = link_to destroy_usuario_session_path do
              %i.fa.fa-sign-out
              %span.sidebar-mini-hide cerrar sesión
      / END Side Navigation
