= simple_form_for @venta do |f|
  .row
    .col-4
      = f.input :fecha_entrega, as: :date
    .col-8
      = render 'clientes/cliente_fields', f: f
    .col-4
      = f.input :descuento, as: :float
    .col-4
      = f.input :total, as: :float
    .col-4
      = f.input :observaciones

  = f.submit
