.block.block-themed
  .block-header.bg-primary-dark
    %h3.block-title
      %i.fa.fa-history
      Historial de ventas
    .block-options
      .block-options-item
        = link_to [:new, :venta], class: 'btn btn-alt-secondary' do
          %i.fa.fa-plus
          registrar venta
  .block-content
    .table-responsive
      %table.table.table-striped.table-hover.table-sm.table-vcenter
        %thead
          %tr
            %th código
            %th estado
            %th fecha entrega
            %th total
            %th pago
            %th deuda
            %th cliente
            %th.text-center{:style => "width: 100px;"} Acciones
        %tbody
          - @ventas.each do |venta|
            %tr
              %td= venta.codigo
              %td= estado_de_pago venta
              %td= l venta.fecha_entrega, format: :fecha
              %td= number_to_currency venta.total
              %td= number_to_currency venta.pagos.map(&:anticipo).reduce(0,:+)
              %td= number_to_currency(venta.total - venta.pagos.map(&:anticipo).reduce(0,:+))
              %td= venta.cliente
              %td
                .btn-group
                  = link_to venta, class: 'btn btn-alt-info' do
                    %i.si.si-eye
                    detalles
                  = link_to [:edit, venta], class: 'btn btn-alt-warning' do
                    %i.si.si-pencil
                    editar
    %tfoot
      %tr
        %td{ colspan: 6 }
          .row
            .col-6
              = paginate @ventas
            .col-6
              .pull-right
                = page_entries_info @ventas
