<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @venta.codigo %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @venta.observaciones %>
</p>

<p>
  <strong>Saldada:</strong>
  <%= @venta.saldada %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @venta.fecha_entrega %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @venta.descuento %>
</p>

<p>
  <strong>Total:</strong>
  <%= @venta.total %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @venta.cliente %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @venta.usuario %>
</p>

<%= link_to 'Edit', edit_venta_path(@venta) %> |
<%= link_to 'Back', ventas_path %>
