!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=devise-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Optica | Iniciar sesión
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    #page-container.main-content-boxed
      %main#main-container
        .bg-image
          .row.mx-0.bg-black-op
            .hero-static.col-md-6.col-xl-8.d-none.d-md-flex.align-items-md-end
              .p-30.invisible{"data-toggle" => "appear"}
                %p.font-size-h3.font-w600.text-white
                  opticas
                %p.font-italic.text-white-op
                  Copyright ©
                  %span.js-year-copy 2019
            .hero-static.col-md-6.col-xl-4.d-flex.align-items-center.bg-white.invisible{"data-class" => "animated fadeInRight", "data-toggle" => "appear"}
              .content.content-full
                %h1.h3.font-w700.mt-30.mb-10 Bienvenido al sistema
                %h2.h5.font-w400.text-muted.mb-0 optica
                %p.px-30
                = render 'layouts/partials/alerts'
                = yield
