-# frozen_string_literal: true
= simple_form_for(@corporacion) do |f|
  .row
    .col-md-3
      = f.input :nombre
    .col-md-3
      = f.input :telefono
    .col-md-3
      = f.input :rfc
    .col-md-3
      = f.input :eslogan
    .col-md-3
      - if @corporacion.logotipo?
        = image_tag(@corporacion.logotipo_url, class: "img-thumbnail")
      = f.input :logotipo
      = f.hidden_field :logotipo_cache
    .col-md-12
      %h4 registrar domicilio
      = render 'domicilios/domicilio_fields', f: f

    .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
      = f.submit class: 'btn btn-alt-primary'

